---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/navbar.astro';


const handleclick = () => {
	console.log("clicked!!")
}


---

<Layout title="Welcome to Astro.">
	<div class="layout-bg h-screen overflow-hidden w-full">
		<Navbar/>
		<main class="">
			<div class="flex items-center w-full justify-center">
				<div class="relative">
					<img src="/tunde-cap.png" class="chess-cap"/>
					<svg class="absolute left-[20%] landing" width="75" height="10" viewBox="0 0 75 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.19141 0.707581H74.2462L4.73346 4.69239H64.0628L14.9168 8.67719H53.8794" stroke="#030303" stroke-width="1.32827" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						
					</div>
				<div class="pt-8 -ml-9">
					<p class="font-[500]">THE</p>
					<div class="flex items-center text-[#030303] leading-[100px] text-[7rem] font-[900]">
						<h1>UNDE</h1>
						<svg class="stroke-line" width="58" height="17" viewBox="0 0 58 17" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.192567 8.46234L7.86133 16.1311L15.5301 8.46234L7.86133 0.79358L0.192567 8.46234ZM57.1492 8.46234L49.4804 0.79358L41.8116 8.46234L49.4804 16.1311L57.1492 8.46234ZM7.86133 9.79061H49.4804V7.13407H7.86133V9.79061Z" fill="#030303"/>
							</svg>
						<h1 class="relative">ONAKOYA <svg class="absolute right-4 top-[1px]" width="49" height="9" viewBox="0 0 49 9" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.39062 0.789551H48.3228L3.66612 4.3316H41.7807L10.2082 7.87365H35.2387" stroke="#030303" stroke-width="1.32827" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
							</h1>					
					</div>
					<p class="pl-2 font-[500]">CHANGEMAKER</p>
				</div>
			</div>
			<div class="w-full pt-12 flex justify-center text-center">
				<p class="max-w-[32rem]" id="center-text">Lorem ipsum dolor sit amet consectetur. Lacus sit pretium orci justo feugiat diam. Eu ornare rhoncus arcu .</p>
			</div>
		</main>
	</div>

	<style>
		.layout-bg {
			background-image: url("../../src/assets/images/gradient-bg.png");
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>

	<script>
		import { gsap } from "gsap";
		

		// gsap.registerPlugin(SplitText);
	
		document.addEventListener("DOMContentLoaded", () => {
		// let split = new SplitText("#center-text", {type: "lines"});
			const tl = gsap.timeline({ defaults: { duration: 1 } });
			tl.from(".stroke-line", {scale:0})
			tl.from(
				".chess-cap",
				{ yPercent: -100, opacity: 0, duration: 1.5, ease: "power2.inOut" },
			);
			tl.from(".landing", {y: 40, opacity:0, ease: "back"}, "<")
			// tl.from(split.words, {opacity: 0, stagger:0.5})
		});
	</script>
</Layout>

