


<nav class="px-12 py-4">
  <ul class="flex w-full justify-between">
    <li class="flex gap-1 items-center">
      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.00195312" y="8.5" width="12.02" height="12.02" transform="rotate(-45 0.00195312 8.5)" fill="black"/>
        </svg>
<span>CREDITS</span>
    </li>
    <li>
<span class="text-[#030303] font-[900] text-[32px]">T.O</span>
    </li>
    <li class="flex gap-1 items-center">
      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.00195312" y="8.5" width="12.02" height="12.02" transform="rotate(-45 0.00195312 8.5)" fill="black"/>
        </svg>
<span>REACH OUT</span>
    </li>
  </ul>
</nav>